h1 {color: rgb(0, 197, 241);    margin-left: 70px; ;}

#name-alu {margin-left: 70px;}

#barcologo{
    width: 50px; 
    height: 50px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: px;
    color: white;}

nav{text-align: right;}

a{  color: white;
    text-decoration: none; 
    margin-right: 10px;
    margin-left: 10px; }

a:hover {color: rgb(0, 197, 241);}